.main {
    width: 100%;
    height: 1100px;
    background-color: transparent;
    float: left;
}

.header {
    width: 100%;
    min-height: 159px;
    background-color: transparent;
    float: left;
    text-decoration: none;
}

.logo {
    width: 20%;
    height: 159px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.space {
    width: 60%;
    background-color: transparent;
    height: 159px;
    float: left;

}

.nav {
    width: 20%;
    background-color: rgb(255, 255, 255);
    height: 159px;
    float: left;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: none;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    justify-content: space-between;
}



.btn {
    background: #235cfa;
    box-shadow: 2px 3px 6px white;
    border-radius: 3.px;
    height: 39px;
    width: 140px;
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    cursor: pointer;
    border: 0.625px transparent;
    padding-top: 4px;
    box-sizing: border-box;

}

.center h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    color: #07043B;

}

.text1 {
    margin-top: 20rem;
    margin-left: 2rem;
}

.text2 {

    margin-left: 2rem;
}

.center p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.53125px;
    color: #07043B;
    padding-top: 1rem;
    margin-left: 2rem;
}

.admin {
    background-color: #000000;
    height: 100px;
    width: 100px;


}

.inp {
    border: 0.625px solid #07043B;

    border-radius: 3.125px;
    margin-top: 1rem;
    height: 30px;
    width: 260px;
    padding: 18px;
    box-sizing: border-box;
}